name: Testes Automatizados com Robot Framework + Selenium

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Testes Selenium no navegador {{ browser }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        browser: [chrome, edge, firefox]  # Definindo os 3 navegadores para o matrix
        

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt
          pip install robotframework-seleniumlibrary
          sudo apt-get update
          sudo apt-get install -y chromium-chromedriver firefox-geckodriver

      - name: Executar Testes Robot no navegador {{ browser }}
        run: |
          robot --variable BROWSER:{{ browser }} --variable HEADLESS:true --outputdir results/{{ browser }} tests/

      - name: Armazenar Relatórios
        uses: actions/upload-artifact@v3
        with:
          name: Test-Reports-{{ browser }}
          path: results/{{ browser }}/
